body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../img/bg.jpg);
  }
  .qrcode{
    display: flex;
    justify-content: center;
    
  }
  .ticket__info{
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center
    
  }

  .ticket {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px;
    width: 300px;
    padding-left: 50px;
  }
  
  
  
